<!DOCTYPE html>
<html>
    <head>
        <title>term_details</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
	<div class="containersDetailSection">
        <h3>Term Details</h3>

        <div id="term_details">
	    <dl>
	        <dt><b>Term name: </b>{{term.tech_term}}</dt>
		<dd><b>Term id: </b>{{term.term_id}}</dd>
		<dd><b>Category: </b>{{term.category}}</dd>
		<dd><b>Definition in english: </b>{{term.def_in_english}}</dd>
                <dd><b>Definition in tinglish: </b>{{term.def_in_tinglish}}</dd>
                <dd><b>Definition in telugu: </b>{{term.def_in_telugu}}</dd>
		<dt><b>Examples: </b></dt>
		<dd>{{term.example1}}</dd>
                <dd>{{term.example2}}</dd>
	    </dl>
	</div>
	<script src=" {{url_for('static', filename='js/script.js')}} "></script>
	</div>
    </body>
</html>

